:root {
  --mask: linear-gradient(to bottom, #0000 30px, #000 0),
    radial-gradient(30px, #000 98%, #0000) top/55.5px 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #64cefc, #ff90c7);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  background-color: #64cefcbf;
  height: 80px;
}

.tambahan-foto {
  position: absolute;
  left: 14rem;
  right: 0;
}

.navbar img {
  height: 80px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}

.navbar .navbar-nav a {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 250, 250);
  font-size: 1em;
  font-weight: 600;
  padding: 0 10px 11px 0;
  position: relative;
}

.navbar .navbar-nav a:hover {
  color: rgb(255, 1, 200);
}

.navbar-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 20%;
  width: 100%;
  height: 2px;
  background: #ffa8e5;
  margin: 0 auto;
  border-radius: 5px;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-nav img {
  position: relative;
  top: 6px;
  left: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.down-arrow {
  width: 15px !important;
  height: 15px !important;
  margin-left: 5px !important;
}

.btn-jadwal img {
  transform: translateY(-2px) translateX(2px);
}

.dropbtn {
  cursor: pointer;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: #7dd9ff;
  width: 200px;
  text-align: left;
  z-index: 9999;
  right: -21px;
  top: 52px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.dropdown-content.show {
  display: block;
  opacity: 1;

  transform: translateY(0);
}

.dropdown-content a {
  color: black !important;
  padding: 12px 10px !important;
  text-decoration: none;
  display: block;
  font-weight: 300 !important;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown-content a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 20%;
  width: 100%;
  height: 2px;
  background: #ffa8e5;
  margin: 0 auto;
  border-radius: 5px;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.dropdown .dropdown-content a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#hamburger-menu {
  display: none;
}

.jadwal {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.btn-jadwal {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: rgb(255, 250, 250);
  cursor: pointer;
  text-decoration: none;
}

.btn-jadwal img {
  margin-left: 2px;
  transform: translateY(-2px);
}

.dropdown-jadwal {
  display: none;
  position: absolute;
  background-color: #7dd9ff;
  width: 15vw;
  height: auto;
  text-align: left;
  z-index: 9999;
  top: 4rem;
  right: 0;
  padding: 0 10px;
}

.jadwal .dropdown-jadwal a {
  margin-top: 0.5rem;
  color: black;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

/* Navbar end */

/* history start */
.container-topup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 60px;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
}
.left-panel,
.right-panel {
  padding: 20px;
}

.left-panel {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.left-panel h1 {
  font-size: 1em;
}

.verified {
  font-size: 10px;
  color: rgb(13, 70, 101);
}

.right-panel {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-container {
  width: 100%;
  background-color: #fbb9e6e2;
  border-radius: 10px;
  overflow: hidden;
}

.image-container.banner {
  height: 200px;
}

.image-container.tutorial,
.image-container.testimoni {
  padding: 10px;
  color: white;
}

.image-container.tutorial h1,
.image-container.testimoni h1 {
  font-size: 1em;
  color: black;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tutorial-order {
  margin-top: 7px;
}

.tutorial-order h2 {
  font-size: 1.4em;
}

.tutorial-order .tips {
  margin-top: 5px;
  font-size: 12px;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  flex-shrink: 0;
}
.card img {
  width: 100%;
  height: auto;
}
.card a {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.input-group {
  background-color: #fbb9e6e2;
  padding: 20px;
  border-radius: 10px;
}

.input-group h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
}

.input-group .input-row {
  display: flex;
  gap: 50px;
}

.input-group input {
  width: 27vw;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.pricelist-menu {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.pricelist-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 110px;
  border-radius: 12px;
  width: 18vw;
  background-color: rgb(250, 113, 216);
  cursor: pointer;
}

.pricelist-content h2 {
  font-size: 0.9em;
  font-weight: 500;
}

.pricelist-content p {
  font-size: 0.8em;
}

.accordion {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.accordion-item {
  background-color: #fa70b3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-button {
  width: 100%;
  padding: 15px;
  background-color: #fa70b3;
  color: white;
  text-align: left;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.accordion-button:hover {
  background-color: #f45a97;
}

.accordion-content {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.payment-card {
  display: flex;
  justify-content: center;
}

.arrow-accordion {
  position: absolute;
  right: 4rem;
}

.form-w {
  margin-top: 1rem;
}

.order-button {
  width: 100%;
  padding: 15px;
  color: #fff;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.order-button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f953c5e2;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.order-button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.order-button:active:after {
  background: transparent;
}

.order-button:hover {
  background-color: #150483ab;
  color: #000000;
}
.order-button:active {
  color: #ffffff;
  font-weight: bold;
}

.shopping-icon {
  font-size: 16px;
}

/* history end */

/* about start */

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(180deg, #7dd9ff, #ff90c7);
  padding: 2rem;
  position: relative;
  z-index: 0;
  mask: linear-gradient(0deg, #0000 6em, #000 0) 0 3em,
    radial-gradient(3em, #000 98%, #0000) 50%/5.55em 6em repeat space;
}

.about-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-head img {
  display: block;
  width: 11vw;
  height: 25vh;
  margin-bottom: 20px;
}

.about-head h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.about-head p {
  text-align: center;
  font-size: 1em;
  width: 70vw;
  font-weight: 600;
}

.card-about {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  justify-items: center;
  margin-top: 3rem;
}

.card-content {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 33vh;
  width: 40vw;
  background-color: rgb(255, 112, 236);
  border-radius: 20px;
  overflow: hidden;
}

.card-inside {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-inside .text-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.card-inside img {
  width: 6.5vw;
  height: auto;
}

.card-inside h1,
.card-inside p {
  margin: 0;
  text-align: center;
}

.card-inside h1 {
  font-size: 1.5em;
  margin: 0 0 0.5rem 0;
}

.card-inside p {
  font-size: 0.8em;
  max-width: 25vw;
  word-break: break-word;
}

/* footer */

footer {
  background-color: #ff6b6b;
  text-align: center;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.6rem 1rem;
}

footer .credit {
  font-size: 0.9rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* about end */

/* media query */

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: rgba(113, 203, 255, 0.95);
    width: 60%;
    padding-left: 10px;
    z-index: 10;
  }

  .navbar-nav a {
    text-align: left;
    width: 100%;
  }

  .navbar-nav a:hover {
    color: rgb(255, 124, 227);
  }

  .navbar-nav a::after {
    display: none;
  }

  .tambahan-foto {
    display: none;
  }

  #hamburger-menu {
    display: block;
    color: rgb(255, 64, 255);
    font-size: 2.2rem;
  }

  .dropbtn {
    position: relative;
    right: 0;
    left: 4rem;
    font-size: 1em;
    color: rgb(255, 64, 255);
  }

  .dropdown-content {
    width: 41.5vw;
    right: 0;
    left: 2.2rem;
  }

  .btn-jadwal {
    margin-right: 4rem;
    width: 100%;
  }

  .btn-jadwal {
    width: 100%;
  }

  .dropdown-jadwal {
    width: 60vw;
    top: 3rem;
    right: -0.7rem;
  }

  /* Search */

  .container {
    flex-direction: column;
  }
  .left-panel {
    width: 100%;
  }
  .right-panel {
    width: 100%;
  }

  .input-group input {
    width: 100%;
  }

  .card {
    width: 40%;
  }

  .pricelist-content {
    width: 100%;
  }
  .pricelist-menu {
    grid-template-columns: repeat(2, 1fr);
  }

  /* about */

  .about-head {
    width: 100%;
  }

  .about img {
    width: 45%;
    height: 45%;
    display: block;
  }

  .card-about {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }

  .card-content {
    flex-direction: column;
    height: auto;
    width: 90vw;
    text-align: center;
  }

  .card-inside {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .card-inside img {
    width: 20vw;
    height: auto;
  }

  .text-content.service h1 {
    width: 80vw;
    text-align: center;
  }

  .text-content.service p {
    text-align: center;
    margin-left: 0.8rem;
  }

  .text-content.sending h1 {
    margin-left: 0.8rem;
  }

  .text-content.tag h1 {
    text-align: center;
  }

  .card-inside p {
    max-width: 80vw;
    text-align: center;
  }

  footer .links a {
    padding: 0.6rem 0.2rem;
  }
}
